<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :vibe %>
    <%= f.collection_select :vibe, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class:"form-control" %>
  </div>

  <div class="actions">
    <% if current_page?(new_post_path) %>
    <%= f.submit "Create Post" %>
    <% else %>
    <%= f.submit "Update Post" %>
    <% end %>
  </div>
<% end %>
