<div class="container col-md-6">
  <h1>New Post</h1>
  <%= form_for(post) do |f| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="form-group">
      <%= f.label :vibe %>
      <%= f.collection_select(:vibe_id, @vibes, :id, :name, required: true) %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.text_area :body, class:"form-control", maxlength: @maximum_length, id: 'post_body' %>
      Chars left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span>
    </fieldset>

    <fieldset class="actions">
      <button class="btn btn-default btn-back" href="<%= posts_path %>">Back
      </button>
      <% if current_page?(new_post_path) %>
      <%= f.submit "Create Post", class:"btn btn-default btn-confirm" %>
      <% else %>
      <%= f.submit "Update Post", class:"btn btn-default btn-confirm" %>
      <% end %>
    </fieldset>
  <% end %>

  <script>
    $(document).ready(function() {
      var post_body = $("#post_body");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      post_body.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>

</div>
