<!DOCTYPE html>
<html>
  <head>
    <title>Frank</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
         <%= message %> <!-- stored in cookie. adds some persistence -->
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
